/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/* Header/logo Title */
.header {
    padding: 8px;
    text-align: center;
    background: #006600;
    color: white;
}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #cccccc;
    outline: hidden;
    opacity: 0.7;
    -webkit-transition: .1s;
    transition: opacity .1s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 35px;
        background: #29a329;
        cursor: grabbing;
       
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #04AA6D;
        cursor: pointer;
    }

* {
    box-sizing: border-box;
}


/* Increase the font size of the heading */
.header h1 {
    font-size: 30px;
   
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

    /* Style the navigation bar links */
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }


        /* Right-aligned link */
        .navbar a.right {
            float: right;
        }

        /* Change color on hover */d
        .navbar a:hover {
            background-color: #ccffcc;
            color: black;
        }

        /* Active/current link */
        .navbar a.active {
            background-color: #ccffcc;
            color: Black;
        }

/* Column container */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: #e6e6e6;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #006600;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}


/*MAP STYLE Albany sample*/
#map {
    width: 100%;
    height: 100%;
 
}