body {
			height: 100%;
			margin: 0;
		}
		.leaflet-container {
			height: 600px;
			width: 900px;
			max-width: 100%;
			max-height: 100%;
		}

.header {
    background-color: #006400;
    color: white;
    padding: 10px 20px;
    text-align: center;
    }
#slider-container {
    position: absolute;
    top: 10px;
    right: 20px;
    background: rgb(233, 239, 249);
    padding: 10px;
    border: 3px solid hsl(197, 99%, 27%);
    border-radius: 20px; 
    z-index: 1000;
}
#slider-container2 {
    position: absolute;
    top: 10px;
    left: 20px;
    background: rgb(233, 239, 249);
    padding: 10px;
    border: 3px solid hsl(197, 99%, 27%);
    border-radius: 20px; 
    z-index: 1000;
}

#slider-container:hover {
    background:  rgb(190, 222, 250);
    padding: 10px;
    border: 3px solid #01638a;
    border-radius: 20px; 
    z-index: 1000;
}


#year-slider {
    width: 200px;
    margin-left: 0px; /* Add some spacing between the year label and the slider */
}
#slider-container label {
    display: block; /* Ensure label appears on a new line */
    margin-bottom: 1px; /* Add some spacing between label and slider */
}

.leaflet-control-layers{
    position: absolute;
    top: 70px;
    right : 10px;
    background: rgb(233, 239, 249);
    padding: 10px;
    border : 10px solid #01638a;
    border-radius: 80px; 
    z-index: 1000;
}